body {
    font-size: 20px;
    text-align: justify;
}
.style1 {
    font-size: 25px;
    color: blueviolet;
}

/*table{
    width: 90%;
}*/
#unicum 
{font-size: 100px;}

.style2  {
    color: gray;
}